VisualElement {
}

.main-screen-button {
    background-color: rgba(0, 0, 0, 0);
    -unity-font-definition: url("project://database/Assets/Fonts/neodgm.asset?fileID=11400000&guid=adc9f46869f2c60438044ad9960e510c&type=2#neodgm");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.unity-disabled {
}

.main-screen-button {
}
